div.col-md-4.total-container
    div.total
        div.total-items
            p= "Items"
            div.list

        div.rent-period
            p= "Rent Period"
            p.description
            p.length

        div.total-price
            p= "Total"
            p.price= "$0.00"

        button.ac-button.next-button= "Next"

        div.total-appointment-errors